// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}

.container {
  max-width: 500px;
}

* {box-sizing:border-box}

.logo{
  height: 70%;
  width: 70%;
}

body.body {
	padding: 0px !important;
}

article.article{
	padding-top: 0px !important;
}

header.header{
	padding: 10px !important;
}

.rate-package{
	color:salmon;
}

.rate-quote{
	color:#579991;
}

.fine-print{
	color:#666666;
}

.all-include{
	color:#e4ae02;
}

.rate-price{
	color:#579991;
}

p.mission-statement {
	font-size: 16px;
}

li{
	font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
