// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.5/dist/tacit-css-1.5.5.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

section h1:first-child {
    margin-top: 18px;
}

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}

.container {
  max-width: 500px;
}

* {box-sizing:border-box}

.logo{
  height: 70%;
  width: 70%;
}

body.body {
	padding: 0px !important;
}

article.article{
	padding-top: 0px !important;
}

header.header{
	padding: 10px !important;
}

.rate-package{
	color:salmon;
}

.rate-quote{
	color:#579991;
}

.fine-print{
	color:#666666;
}

.all-include{
	color:#e4ae02;
}

.rate-price{
	color:#579991;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    line-height: 0;
    color: #cacaca; }

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h3, .h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h5, .h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h6, .h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; 
}
